._label {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em 0;
}

._title {
  margin-bottom: 1em;
  font-weight: bold;
}

._search {
  padding: 1em;
  border: 1px solid #116dff;
  border-radius: 2px;
  font-size: 1em;
}

._search::placeholder {
  color: #b6c1cd;
}
