.box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.link {
  display: inline-flex;
  gap: 1em;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

.link:hover {
  text-decoration: underline;
}
