._box {
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: center;
}

._link {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
}

._link:hover {
  text-decoration: underline;
}
