.list {
  list-style: none;
  padding: 0;
  margin: 0;
  counter-increment: tidbit-counter 0;
}

.item {
  padding: 0.5em 0;
  border-bottom: 1px solid #b6c1cd;
  position: relative;
}

.item::before {
  counter-increment: tidbit-counter;
  content: counter(tidbit-counter);
  font-size: 90%;
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: #939393;
}

.item:hover {
  background-color: #f5f5f5;
}

.message {
  margin: 0.5em 3em 0.5em 0;
}
