:global(*),
:global(*::after),
:global(*::before) {
  box-sizing: border-box;
}

:global(body) {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  color: #2b5672;
  padding: 10px;
}

:global(code) {
  font-size: 14px;
}

.box {
  max-width: 900px;
  margin: 0 auto;
}

.field {
  padding: 0.5em 0;
}
